@font-face {
    font-family: "YandexSansDisplay";
    font-style: normal;
    font-weight: 400;
    src: local("YandexSansDisplay-Regular"),
    url("./fonts/YandexSansDisplay-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "YandexSansDisplay";
    font-style: normal;
    font-weight: 600;
    src: local("YandexSansDisplay-Bold"),
    url("./fonts/YandexSansDisplay-Bold.woff2") format("woff2");
}

body{
    font-family: "YandexSansDisplay", "Arial", sans-serif;
    font-size: 24px;
    margin: 0;
    background-color: #f2f3f4;
    color: #25497b;
}

.container{
    width: 60%;
    height: 100vh;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.add_task{
    display: flex;
    align-items: center;
    padding: 25px 0 15px;
    margin: 0 45px;
}

.add_field{
    width: 85%;
    border-radius: 20px 0 0 20px;
    height: 40px;
    padding-left: 12px;
    background-color: #e1e7e9;
    font-size: 1rem;
}

.add_button{
    width: 15%;
    border-radius: 0 20px 20px 0;
    padding: 1px 0;
    cursor: pointer;
    background-color: #a7b9ca;
    font-size: 1rem;
    outline: none;
    border: none;
    height: 42px;
    display: flex;
    align-items: center;
}

.button_name{
    margin: 0 auto;
}

.add_button:hover{
    background-color: #abcdef;
}

input{
    border: none;
    outline: none;
    height: 42px;
}

.calendar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 15px;
}

.number{
    font-weight: 600;
    font-size: 1.2rem;
    padding-top: 3px;
}

.weekday{
    font-size: 0.8rem;
    margin-top: -3px;
}

.date:first-child{
    color: #25497b;
}

.previous{
    transform: rotate(180deg);
}

.next{

}

.arrow{
    width: 20px;
    height: 20px;
}

.date{
    background-color: #b9d6ff;
    width: 50px;
    margin: 0 5px;
    font-size: 0.9rem;
    text-align: center;
    border-radius: 5px;
    color: #6495ed;
    cursor: pointer;
    position: relative;
}

.date:hover, .date:active{
    color: #25497b;
}

.past{
    opacity: .5;
}

.mark_if_exist_tasks{
    background-color: #6495ed;
    box-shadow: 0 0 2px #25497b;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.days{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.tasks_elements{
    height: 20%;
    margin: 40px 45px;
    font-size: 1.1rem;
}

.task{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.tick{
    height: 18px;
    width: 18px;
    background-color: #b9d6ff;
    border-radius: 4px;
    cursor: pointer;
}

.done .tick{
    background-color: #25497b;
}

.done .name{
    color: #a7b9ca;
    text-decoration: line-through;
}

.trash{
    width: 19px;
    height: 19px;
}

.name{
    width: 93%;
}

.icon{
    margin: 0 10px 0 5px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add{
    display: none;
}

@media (max-width: 1050px) {
    .button_name{
        display: none;
    }

    .add{
        display: block;
        width: 22px;
        height: 22px;
        margin: 0 auto;
    }

    .container{
        width: 80%;
    }
}

@media (max-width: 800px) {
    .container{
        width: 100%;
    }
}